<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/imported")
    @Styles.Render("~/Content/bootstrapCDN")
    @Styles.Render("~/Content/font-awesomeCDN")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div> -->
    
    <nav class="navigation">
        <input id="nav-menu" type="checkbox" class="navigation__checkbox">
        <label for="nav-menu" class="navigation__button">
            <span class="navigation__icon"></span>
        </label>
        
        <div class="navigation__background"></div>
        
        <div class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item">
                    @Html.ActionLink("File Manager", "FileManager", null, new { @class="navigation__link" })
                </li>
                <li class="navigation__item">
                    @Html.ActionLink("Setting", "Index","Setting", new { Area = "Administrator" }, new { @class = "navigation__link" })
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DDT KONSTRACT, INC.</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @* Bootstrap Script from CDN *@
    @Scripts.Render("~/bundles/jquery331CDN")
    @Scripts.Render("~/bundles/popperCDN")
    @Scripts.Render("~/bundles/bootstrapCDN")

    @* Import Fine Uploader Script *@
    @Scripts.Render("~/bundles/fineUploader")

    @* Import Custom Script *@
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)
</body>
</html>
