@model hr_201_file.Models.FileContents

@{
    ViewBag.Title = "Delete";
}

<div class="delete">
    <div class="delete__message">
        <span class="delete__message--text">
            Are you sure you want to delete this File ?
        </span>
    </div>

    <div class="delete__content">
        <span class="delete__content--owner">Owner:</span>
        <span class="delete__content--empno">@Model.employee_number</span>
        <span class="delete__content--name">@Model.employee_name</span>
        <div class="delete__file">
            Filename :
            <span class="delete__file--filename">@Model.file_name</span>
        </div>
    </div>

    <div class="delete__command">
        @using (Html.BeginForm("Delete", "File", new { id = Model.id }, FormMethod.Post))
        {
            @Html.ActionLink("Cancel", "Index", "Employee",
                                new { search = @Model.employee_name },
                                new { @class = "delete__command--cancel c_btn c_btn--white" })

            <button type="submit" class="delete__command--proceed c_btn c_btn--white">
                Proceed
            </button>
        }
    </div>
</div>


