<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/imported")
    @Styles.Render("~/Content/bootstrapCDN")
    @Styles.Render("~/Content/font-awesomeCDN")
    @Styles.Render("~/Content/GoogleFonts")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onload="pageLoaded()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img class="main-logo img-fluid" src="~/Images/ddtkilogo.jpg" alt="DDTKI Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav mr-auto navbar-primary text-center">
                <li class="main-nav__item homeNavLink">
                    <a href="/Home/Dashboard" class="main-nav__link">
                        <!-- <i class="fas fa-home fa-3x main-nav__icon"></i> -->
                        HOME
                    </a>
                </li>
                
                <li class="main-nav__item fileNavLink">
                    <a href="/File/FileManager" class="main-nav__link">
                        FILES
                    </a>
                </li>
                
                <li class="main-nav__item employeeNavLink">
                    <a href="/Employee/Index" class="main-nav__link">
                        <!-- <i class="fas fa-address-card fa-3x main-nav__icon"></i> -->
                        EMPLOYEE DETAILS
                    </a>
                </li>
                <!-- <li onclick="toggleUpload()" class="main-nav__item">
                    <a href="#" class="main-nav__link upload-link2">
                        UPLOAD FILE
                    </a>
                </li> -->
                <li class="main-nav__item">
                    <a href="/Administrator/Setting/Index" class="main-nav__link">
                        <!-- <i class="fas fa-cog fa-3x main-nav__icon"></i> -->
                        SETTING / PERMISSION
                    </a>
                </li>
                <li class="main-nav__item">
                    <a href="/Account/Signout" class="main-nav__link">
                        Sign Off
                    </a>
                </li>
            </ul>
            <!-- Search Field -->
            @using (Html.BeginForm("New_Record", "File", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0", id="searchBox" }))
            {
                <div class="search">
                    <div class="search__bar">
                        <label for="btnSearch" class="search__bar--icon">
                            <i class="fas fa-search"></i>
                            <!-- <i class="icon-basic-magnifier icon-size--small mt-2"></i> -->
                        </label>
                        <input name="search" type="text" class="search__bar--text" placeholder="Search Employee Name or Employee Number" autocomplete="off" oninput="showSuggestion(event)">
                    </div>
                    <div class="search__suggestion" hidden=false>
                        <ul class="search__suggestion--list"></ul>
                    </div>
                </div>
                
                string folder_id = Request.QueryString["folder_id"];
                
                <input name="folder_id" type="text" value="@(folder_id)" hidden />
                
                <div class="submit">
                    <input id="btnSearch" type="button" class="submit-button" hidden>
                </div>
            }
            
            <div class="user">
                <span class="user__picture">
                    <i class="fas fa-user-circle"></i>
                </span>
                <span class="user__name">
                    @ViewBag.Name
                </span>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid body-content">
        <div class="row">
            <div id="sideNav" class="col-lg-1">
                <div class="main-nav d-flex justify-content-center">
                    <ul class="main-nav__list navbar-secondary">
                        <li class="main-nav__item homeNavLink">
                            <a href="/Home/Dashboard" class="main-nav__link">
                                <!-- <i class="fas fa-home fa-3x main-nav__icon"></i> -->
                                <svg class="main-nav__icon">
                                    <use xlink:href="~/Icons/symbol-defs.svg#icon-home3"></use>
                                </svg>
                                <h6 class="main-nav__text">
                                    Home
                                </h6>
                            </a>
                        </li>
                        <li class="main-nav__item fileNavLink">
                            <a href="/File/FileManager" class="main-nav__link">
                                <svg class="main-nav__icon">
                                    <use xlink:href="~/Icons/symbol-defs.svg#icon-cabinet"></use>
                                </svg>
                                <h6 class="main-nav__text">
                                    Files
                                </h6>
                            </a>
                        </li>
                        <li class="main-nav__item employeeNavLink">
                            <a href="/Employee/Index" class="main-nav__link">
                                <svg class="main-nav__icon">
                                    <use xlink:href="~/Icons/symbol-defs.svg#icon-profile"></use>
                                </svg>
                                <h6 class="main-nav__text">
                                    Profile
                                </h6>
                            </a>
                        </li>
                        <!-- <li onclick="toggleUpload()" class="main-nav__item">
                            <a href="#" class="main-nav__link upload-link">
                                <svg class="main-nav__icon">
                                    <use xlink:href="~/Icons/symbol-defs.svg#icon-upload-to-cloud"></use>
                                </svg>
                                <h6 class="main-nav__text">
                                    Upload
                                </h6>
                            </a>
                        </li> -->
                        <li class="main-nav__item">
                            <a href="/Administrator/Setting/Index" class="main-nav__link">
                                <svg class="main-nav__icon">
                                    <use xlink:href="~/Icons/symbol-defs.svg#icon-cog"></use>
                                </svg>
                                <h6 class="main-nav__text">
                                    Setting
                                </h6>
                            </a>
                        </li>
                        
                        <li class="main-nav__item">
                            <a href="/Account/Signout" class="main-nav__link">
                                <svg class="main-nav__icon">
                                    <use xlink:href="~/Icons/symbol-defs.svg#icon-exit"></use>
                                </svg>
                                <h6 class="main-nav__text">
                                    Exit
                                </h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-11 Main-Content">@RenderBody()</div>
        </div>
        <!-- <hr /> -->
    </div>
    <footer class="footer bg-dark text-white">
        <p class="footer__content text-center">
            <span class="footer__content--line1">
                201 FILE MANAGEMENT SYSTEM v1.0
            </span>
            <span class="footer__content--line2">
                &copy; @DateTime.Now.Year - DDT KONSTRACT, INC.
            </span>
        </p>
    </footer>
    
    <div class="loading">
        <div class="loading__file">
            <img src="~/Images/loading2.gif" alt="Loading . . ." />
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @* Bootstrap Script from CDN *@
    @Scripts.Render("~/bundles/jquery331CDN")
    @Scripts.Render("~/bundles/popperCDN")
    @Scripts.Render("~/bundles/bootstrapCDN")
    
    @* Import Fine Uploader Script *@
    @Scripts.Render("~/bundles/fineUploader")
    
    @* Import Custom Script *@
    @Scripts.Render("~/bundles/custom")
    
    @RenderSection("scripts", required: false)
</body>
</html>
