@model hr_201_file.Models.Employee

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <section class="personal">
            <div class="form-group personal">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MiddleName)
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.NickName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NickName)
                    @Html.ValidationMessageFor(model => model.NickName)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.ExtensionName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExtensionName)
                    @Html.ValidationMessageFor(model => model.ExtensionName)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.ProvAddress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProvAddress)
                    @Html.ValidationMessageFor(model => model.ProvAddress)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.Region, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Region)
                    @Html.ValidationMessageFor(model => model.Region)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gender)
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthDate)
                    @Html.ValidationMessageFor(model => model.BirthDate)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.BirthPlace, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthPlace)
                    @Html.ValidationMessageFor(model => model.BirthPlace)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Religion)
                    @Html.ValidationMessageFor(model => model.Religion)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.Citizenship, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Citizenship)
                    @Html.ValidationMessageFor(model => model.Citizenship)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.MaritalStatus, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaritalStatus)
                    @Html.ValidationMessageFor(model => model.MaritalStatus)
                </div>
            </div>
            <div class="form-group personal">
                @Html.LabelFor(model => model.DriverseLicence, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DriverseLicence)
                    @Html.ValidationMessageFor(model => model.DriverseLicence)
                </div>
            </div>
        </section>

        <section class="government">
            <div class="form-group government">
                @Html.LabelFor(model => model.SSSNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SSSNo)
                    @Html.ValidationMessageFor(model => model.SSSNo)
                </div>
            </div>
            <div class="form-group government">
                @Html.LabelFor(model => model.PagibigNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PagibigNo)
                    @Html.ValidationMessageFor(model => model.PagibigNo)
                </div>
            </div>
            <div class="form-group government">
                @Html.LabelFor(model => model.TINNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TINNo)
                    @Html.ValidationMessageFor(model => model.TINNo)
                </div>
            </div>
            <div class="form-group government">
                @Html.LabelFor(model => model.PhilHealthNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhilHealthNo)
                    @Html.ValidationMessageFor(model => model.PhilHealthNo)
                </div>
            </div>
            <div class="form-group government">
                @Html.LabelFor(model => model.SSSElig, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SSSElig)
                    @Html.ValidationMessageFor(model => model.SSSElig)
                </div>
            </div>
            <div class="form-group government">
                @Html.LabelFor(model => model.PagibigElig, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PagibigElig)
                    @Html.ValidationMessageFor(model => model.PagibigElig)
                </div>
            </div>
            <div class="form-group government">
                @Html.LabelFor(model => model.TaxElig, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaxElig)
                    @Html.ValidationMessageFor(model => model.TaxElig)
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="form-group contact">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group contact">
                @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNo)
                    @Html.ValidationMessageFor(model => model.PhoneNo)
                </div>
            </div>
            <div class="form-group contact">
                @Html.LabelFor(model => model.MobileNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MobileNo)
                    @Html.ValidationMessageFor(model => model.MobileNo)
                </div>
            </div>
        </section>

        <section class="family">
            <div class="form-group family">
                @Html.LabelFor(model => model.RelativeContactNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RelativeContactNo)
                    @Html.ValidationMessageFor(model => model.RelativeContactNo)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.RelativeAddress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RelativeAddress)
                    @Html.ValidationMessageFor(model => model.RelativeAddress)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.Father, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Father)
                    @Html.ValidationMessageFor(model => model.Father)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.FatherBirthDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FatherBirthDate)
                    @Html.ValidationMessageFor(model => model.FatherBirthDate)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.FatherContactNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FatherContactNo)
                    @Html.ValidationMessageFor(model => model.FatherContactNo)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.FatherEducAttainment, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FatherEducAttainment)
                    @Html.ValidationMessageFor(model => model.FatherEducAttainment)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.FatherOccupation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FatherOccupation)
                    @Html.ValidationMessageFor(model => model.FatherOccupation)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.FatherCompany, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FatherCompany)
                    @Html.ValidationMessageFor(model => model.FatherCompany)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.Mother, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mother)
                    @Html.ValidationMessageFor(model => model.Mother)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.MotherBirthDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MotherBirthDate)
                    @Html.ValidationMessageFor(model => model.MotherBirthDate)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.MotherContactNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MotherContactNo)
                    @Html.ValidationMessageFor(model => model.MotherContactNo)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.MotherEducAttainment, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MotherEducAttainment)
                    @Html.ValidationMessageFor(model => model.MotherEducAttainment)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.MotherOccupation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MotherOccupation)
                    @Html.ValidationMessageFor(model => model.MotherOccupation)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.MotherCompany, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MotherCompany)
                    @Html.ValidationMessageFor(model => model.MotherCompany)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.Spouse, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Spouse)
                    @Html.ValidationMessageFor(model => model.Spouse)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.SpouseBirthDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpouseBirthDate)
                    @Html.ValidationMessageFor(model => model.SpouseBirthDate)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.SpouseContactNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpouseContactNo)
                    @Html.ValidationMessageFor(model => model.SpouseContactNo)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.SpouseEducAttainment, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpouseEducAttainment)
                    @Html.ValidationMessageFor(model => model.SpouseEducAttainment)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.SpouseOccupation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpouseOccupation)
                    @Html.ValidationMessageFor(model => model.SpouseOccupation)
                </div>
            </div>
            <div class="form-group family">
                @Html.LabelFor(model => model.SpouseCompany, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpouseCompany)
                    @Html.ValidationMessageFor(model => model.SpouseCompany)
                </div>
            </div>
        </section>

        <section class="education">
            <div class="form-group education">
                @Html.LabelFor(model => model.PrimarySchool, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimarySchool)
                    @Html.ValidationMessageFor(model => model.PrimarySchool)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.PrimaryPeriod, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimaryPeriod)
                    @Html.ValidationMessageFor(model => model.PrimaryPeriod)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.SecondarySchool, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SecondarySchool)
                    @Html.ValidationMessageFor(model => model.SecondarySchool)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.SecondaryPeriod, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SecondaryPeriod)
                    @Html.ValidationMessageFor(model => model.SecondaryPeriod)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.TertiarySchool, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TertiarySchool)
                    @Html.ValidationMessageFor(model => model.TertiarySchool)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.TertiaryPeriod, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TertiaryPeriod)
                    @Html.ValidationMessageFor(model => model.TertiaryPeriod)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.TertiaryCourse, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TertiaryCourse)
                    @Html.ValidationMessageFor(model => model.TertiaryCourse)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.VocationalSchool, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VocationalSchool)
                    @Html.ValidationMessageFor(model => model.VocationalSchool)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.VocationaSchool1, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VocationaSchool1)
                    @Html.ValidationMessageFor(model => model.VocationaSchool1)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.VocationalCourse, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VocationalCourse)
                    @Html.ValidationMessageFor(model => model.VocationalCourse)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.PostGraduateSchool, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostGraduateSchool)
                    @Html.ValidationMessageFor(model => model.PostGraduateSchool)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.PostGraduatePeriod, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostGraduatePeriod)
                    @Html.ValidationMessageFor(model => model.PostGraduatePeriod)
                </div>
            </div>
            <div class="form-group education">
                @Html.LabelFor(model => model.PostGraduateCourse, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostGraduateCourse)
                    @Html.ValidationMessageFor(model => model.PostGraduateCourse)
                </div>
            </div>
        </section>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}