@model hr_201_file.Models.EmployeeModel

@{
    ViewBag.Title = "Employee Records";
    Layout = "";
}

<div class="records">
    @*@{Html.RenderPartial("_PersonalDetail", Model.employee);}*@
    @Html.Partial("_PersonalDetail", Model.employee)

    <table class="table table-hover table-dark">
        @if (Model.files.Count() > 0)
        {
            foreach (var item in Model.files)
            {
                <tr>
                    <td style="min-width: 300px">
                        @Html.DisplayFor(modelItem => item.file_name)
                    </td>
                    <td style="min-width: 200px;text-align: center;">
                        @Html.DisplayFor(modelItem => item.timestamp)
                    </td>
                    <td style="min-width: 300px;text-align: center;">
                        @Html.ActionLink("View", "View","File", 
                        new { 
                            id = item.id, 
                            folder_id = Request["folder_id"], 
                            search = Request["search"] 
                        }, 
                        null) |

                        @Html.ActionLink("Download", "Download", "File", 
                        new { 
                            id = item.id
                        }, null) |

                        @Html.ActionLink("Delete", "Delete", "File", new { id = item.id }, null)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <span class="no_record_found">
                        No Record Found
                    </span>
                </td>
            </tr>
        }
    
    </table>
</div>
