@model IEnumerable<hr_201_file.Models.FileContents>

@{
    ViewBag.Title = "Employee Records";
    Layout = "";
}

<table class="table table-hover">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.file_name)
                </td>
                <!-- <td>
                    @Html.DisplayFor(modelItem => item.file_path)
                </td> -->
                <td>
                    @Html.DisplayFor(modelItem => item.timestamp)
                </td>
                <td>
                    @Html.ActionLink("View", "View","File", 
                    new { id = item.id, search = Request["search"], folder_id = Request["folder_id"] }, 
                    null) |
                    @Html.ActionLink("Download", "Download", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">
                <span class="no_record_found">
                    No Record Found
                </span>
            </td>
        </tr>
    }

</table>
