@model hr_201_file.Models.Employee

@{
    ViewBag.Title = "Profile";
}

@section scripts {
    <script type="text/javascript">
        loadEmployeeDetails();
    </script>
}

<div class="profile">
    <span class="profile__name">
        @Model.FullName
    </span>
    <span class="profile__details">
        Joined:
        <span class="profile__details--doj">@Model.JoiningDate</span>
    </span>
    <div class="profile__position">@Model.JobPosition.Description</div>
    <div class="profile__jobcategory">@ViewBag.jobCategory</div>
    <div class="profile__picture">
        <img class="profile__picture-data" src="~/Images/male.png" alt="Femail">
    </div>
</div>

<div class="sub__nav">
    <ul class="nav nav-pills employee-nav">
        @foreach (var folder in ViewBag.fileCategory)
        {
            <li class="nav-item">
                <a class="nav-link sub-nav-link" onclick="subNav(event, @folder.id, @Model.EmpNo)" href="#">
                    @folder.category_name
                </a>
            </li>
        }
    </ul>
</div>

<div class="profile__content"></div>